---
layout: default
---

<div class="home">

  <section id="current-interests">
    <div class="hover-box title-box">
      current interests
    </div>
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="voxel-graphics slide">
            <div class="hover-box subject-box">
              <div>Voxel Graphics</div>
              <p>
                I think volumetric graphics engines are very 
                interesting, and I'm excited to see how they can be 
                used in the future in game development as well as other 
                areas.
              </p>
            </div>
            <div class="hover-box source-box">
              Original source
            </div>
          </div>
        </li>
        <li>
          <div class="backend-development slide">
            <div class="hover-box subject-box">
              <div>Backend Development</div>
              <p>
                The way that data interacts to form a solution to 
                a problem is really interesting and intuitive for me.  
                I enjoy working with MySQL and frameworks like Rails 
                to develop clean, innovative solutions for the web.
              </p>
            </div>
            <div class="hover-box source-box">
              Original source
            </div>
          </div>
        </li>
        <li>
          <div class="fractal-mathematics slide">
            <div class="hover-box subject-box">
              <div>Fractal Mathematics</div>
              <p>
                I love how fractals are an infusion of art and 
                mathematics and how tweaking algorithms and inputs 
                can yield wildly different results to explore and 
                discover.
              </p>
            </div>
            <div class="hover-box source-box">
              Original source
            </div>
          </div>
        </li>
        <li>
          <div class="machine-learning slide">
            <div class="hover-box subject-box">
              <div>Machine Learning</div>
              <p>
                As we move into the 21st century we are making computers 
                capable of doing extremely complex tasks.  Machine 
                learning is at the forefront of ambitious new 
                approaches and solutions to complex problems.
              </p>
            </div>
            <div class="hover-box source-box">
              Source: <a href="https://colah.github.io/posts/2014-07-Conv-Nets-Modular/">colah's blog</a>
            </div>
          </div>  
        </li>
        <li>
          <div class="procedural-generation slide">
            <div class="hover-box subject-box">
              <div>Procedural Generation</div>
              <p>
                I find the notion that most AAA video game studios 
                continue to build huge worlds (mostly) by hand 
                absolutely amazing, and somewhat ridiculous.  I'm 
                looking forward to the rise of procedural generation 
                in the industry.
              </p>
            </div>
            <div class="hover-box source-box">
              Source: <a href="http://www.no-mans-sky.com/">No Man's Sky</a>
            </div>
          </div>
        </li>
        <li>
          <div class="automation slide">
            <div class="hover-box subject-box">
              <div>Automation</div>
              <p>
                Many of the things we do are repetitive and redundant.  
                Automation through simple scripts or fully-featured GUI 
                applications inspires me, and has driven me to build 
                many solutions.
              </p>
            </div>
            <div class="hover-box source-box">
              Source: Unknown
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section id="recent-projects">
    <h1 class="page-heading">Recent Projects</h1>

    <ul class="content-list col-3">
      {% for post in site.categories.projects | limit: 3 %}
        <li>
          <div class="project-image" style="background-image: url('/images/projects/{{ post.short_name }}.png')">
          </div>
          <div class="header">
            {{ post.title }}
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>

          <div class="content">
            {{ post.excerpt }}

            <p class="read-more">
              <a href="{{ post.url }}">Read more</a>
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>

    <a href="/projects">Browse all projects</a>
  </section>


  <section id="recent-posts">
    <h1 class="page-heading">Recent Blog Posts</h1>

    <ul class="content-list col-3">
      {% for post in site.posts | limit: 3 %}
        <li>
          <div class="header">
            {{ post.title }}
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>

          <div class="content">
            {{ post.excerpt }}

            <p class="read-more">
              <a href="{{ post.url }}">Read more</a>
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>

    <a href="/posts">Browse all posts</a>
  </section>

</div>