---
layout: default
---

<div class="home">

  <section id="current-interests">
    <div class="hover-box title-box">
      current interests
    </div>
    <div class="hover-box subject-box">
      <div>Fractal Mathematics</div>
      <p>
        I love how fractals are an infusion of art and 
        mathematics and how tweaking algorithms and inputs 
        can yield wildly different results to explore and 
        discover.
      </p>
    </div>
  </section>

  <section id="recent-projects">
    <h1 class="page-heading">Recent Projects</h1>

    <ul class="content-list col-3">
      {% for project in site.projects | limit: 3 %}
        <li>
          <img src="{{ project.image }}">
          <h2>{{ project.name }}</h2>
          <p>
            {{ project.excerpt | remove: '<p>' | remove: '</p>' }}

            <a href="{{ project.url }}" class="read-more">Read more</a>
          </p>
        </li>
      {% endfor %}
    </ul>

    <a href="/projects">Browse all projects</a>
  </section>


  <section id="recent-posts">
    <h1 class="page-heading">Recent Blog Posts</h1>

    <ul class="content-list col-3">
      {% for post in site.posts | limit: 2 %}
        <li>
          <div class="header">
            {{ post.title }}
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>

          <div class="content">
            {{ post.excerpt }}

            <p>
              <a href="{{ post.url }}" class="read-more">Read more</a>
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>

    <a href="/posts">Browse all posts</a>
  </section>

</div>
