<footer class="site-footer">

  <div class="footer-wrapper">

    <div class="description-section">
      <p>{{ site.description }}</p>
    </div>

    <div class="copyright-section">
      <p>© 2016 Colin Allen. &nbsp;All rights reserved.</p>
    </div>

  </div>

</footer>

<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- flexslider -->
<script src="js/jquery.flexslider-min.js"></script>

<!-- script for home page -->
<script src="js/home.js"></script>