<header class="site-header">

    <span class="identity">Software Developer</span>

    <nav class="site-nav">
      <a class="main-item" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/posts">Blog</a>
      <div class="social">
        <a class="fa fa-github" href="http://github.com/matortheeternal">GitHub</a>
        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/rcolinallen">LinkedIn</a>
        <a class="fa fa-file-pdf-o" href="/resume.pdf">Resume</a>
        <a class="fa fa-envelope" href="maito:mator.eternal@gmail.com">Email</a>
      </div>
    </nav>

</header>
