<header class="site-header">

    <span class="identity">Software Developer</span>

    <nav class="site-nav">
      <a class="main-item" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/blog">Blog</a>
      <div class="social">
        <a class="fa fa-github-alt" href="http://github.com/matortheeternal" title="GitHub"></a>
        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/rcolinallen" title="LinkedIn"></a>
        <a class="fa fa-file-pdf-o" href="/resume.pdf" title="Resume"></a>
        <a class="fa fa-envelope" href="mailto:mator.eternal@gmail.com" title="Email"></a>
      </div>
    </nav>

</header>
