.card-text div {
	white-space: normal;
	font-size: 15px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 155%;
}
.card-text .name-cost {
	font-weight: bold;
	font-size: 20px;
	white-space: pre-wrap;
}
.card-text .type {
	font-size: 16px;
	padding-bottom: 3px;
}
.card-text .pt {
	font-weight: bold;
}
.card-text .effect {
	padding-bottom: 3px;
}
.card-text p {
	margin: 7px 0;
}