.header {
	background-color: #171717;
	height: 60px;
	align-items: center;
	justify-items: center;
	display: flex;
}
.search-grid {
	width: 80%;
	max-width: 1200px;
	height: 40px;
	margin: auto;
	display: flex;
	gap: 20px;
	justify-items: center;
	align-items: center;
}
.search-grid input {
	width: 100%;
	height: 35px;
	font-size: 16px;
	background-color: #fafafa;
	border: 1px solid #d5d9d9;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.search-grid a {
	color: #f3f3f3;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
}
.search-grid a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.search-grid .sg-logo {
	height: 50px;
}
.search-grid .sg-icon {
	height: 24px;
}