* {
    box-sizing: border-box;
}

.page-content {
    padding: 0;
}

section {
    height: 100vh;
    text-align: center;
}

.overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}

#current-interests {
    height: calc(100vh - 62px);
    background: url("https://i.imgur.com/R08GDR1.png");
    background-position: center;
    position: relative;
    box-shadow: 0px 1px 7px 5px #000;
}

.hover-box {
    text-align: left;
    position: absolute;
    width: 25%;
    left: 65%;
    top: 75%;
    border: 1px solid #444;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ddd;
    div {
        font-size: 24px;
    }
    p {
        margin-bottom: 4px;
    }
}

.page-heading {
    font-size: 32px;
    border-bottom: 2px solid #23e;
    width: 300px;
    margin: 60px auto;
}