* {
    box-sizing: border-box;
}

.site-header {
    background-color: #fff;
    border: 0;
    z-index: 1;
}

.page-content {
    padding: 0;
}

section {
    height: 100vh;
    text-align: center;
}

#current-interests {
    height: calc(100vh - 62px);
    background: url("https://i.imgur.com/R08GDR1.png");
    background-position: center;
    position: relative;
    box-shadow: 0px 2px 7px 5px #000;
}

.hover-box {
    border: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ddd;
}

.title-box {
    position: absolute;
    padding: 10px;
    left: 40px;
    top: 20px;
    font-size: 18px;
    font-style: italic;
}

.subject-box {
    text-align: left;
    position: absolute;
    width: 25%;
    left: 70%;
    top: 74%;
    padding: 20px;
    div {
        font-size: 24px;
        font-family: Arial;
        font-weight: 600;
        color: #fff;
    }
    p {
        margin-bottom: 4px;
    }
}

.page-heading {
    font-size: 32px;
    border-bottom: 2px solid #23e;
    width: 300px;
    margin: 60px auto;
}

.section-comment {
    font-style: italic;
    font-size: 18px;
    position: absolute;
    top: 10%;
    left: 10%;
}