* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.site-header {
    background-color: #f0f0f0;
    border: 0;
    border-bottom: 2px solid #000;
    z-index: 1;
}

.identity {
    line-height: 54px;
    margin-left: 30px;
    font-family: Verdana;
    cursor: pointer;
}

nav {
    margin-right: 30px;
    font-size: 14px;
    font-weight: 600;
    font-family: arial;
    a  {
        margin-right: 24px;
        text-decoration: none;
    }
    .main-item {
        margin-right: 48px;
    }
    .social {
        float: right;
        font-size: 18px;
        a {
            margin-right: 10px;
        }
    }
}

.page-content {
    padding: 0;
}

.wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

section {
    min-height: 100vh;
    text-align: center;
    border-bottom: 2px solid #aaa;
}

.flexslider {
    margin: 0;
    background: none;
    border: 0;
    width: 100%;
    height: 100%;
    .slide {
        position: relative;
        width: 100%;
        height: calc(100vh - 56px);
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center;
    }
    .flex-control-nav {
        width: auto;
        bottom: 10px;
        background: rgba(0, 0, 0, 0.7);
        margin: 0;
        padding: 4px 8px 4px 8px;
        left: calc(50% - (138px/2));
        a {
            background-color: #888;
            overflow: hidden;
            &:hover {
                background-color: #fff;
            }
        }
        .flex-active  {
            background-color: #fff;
        }
    }
}

.voxel-graphics {
    background-image: url("/images/voxel-graphics.jpg");
}

.backend-development {
    background-image: url("/images/backend-development.png");
    background-color: #fff;
}

.fractal-mathematics {
    background-image: url("/images/fractal-mathematics.png");
    background-size: 100%;
}

.machine-learning {
    background-image: url("/images/machine-learning.png");
    background-color: #fff;
}

.procedural-generation {
    background-image: url("/images/procedural-generation.jpg");
}

.automation {
    background-image: url("/images/automation.jpg");
}

#current-interests {
    height: calc(100vh - 56px);
    min-height: 480px;
    position: relative;
    box-shadow: 0px 0px 7px 5px #000;
    border: 0;
}

.hover-box {
    border: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ddd;
    position: absolute;
    z-index: 1;
}

.title-box {
    padding: 10px;
    left: 40px;
    top: 20px;
    font-size: 18px;
    font-style: italic;
}

.subject-box {
    text-align: left;
    width: 25%;
    min-width: 400px;
    padding: 20px;
    right: 7%;
    bottom: 10%;
    div {
        font-size: 24px;
        font-family: Arial;
        font-weight: 600;
        color: #fff;
    }
    p {
        margin-bottom: 4px;
    }
}

.page-heading {
    font-size: 32px;
    border-bottom: 2px solid $brand-color;
    width: 300px;
    margin: 60px auto;
}

.content-list {
    margin-left: 8%;
    margin-right: 8%;
    height: 70%;
    li {
        text-align: left;
        list-style: none;
        border: 1px solid #333;
        display: inline-block;
        height: 80%;
        .header {
            background-color: #f0f0f0;
            font-size: 21px;
            padding: 20px 20px 10px 20px;
            border-bottom: 1px solid #333;
            .post-meta {
                float: right;
            }
        }
        .content {
            margin: 20px;
        }
    }
}

.read-more {
    text-align: center;
}

.col-3 {
    li {
        width: 30%;
        min-width: 300px;
        margin-right: 1.5%;
        margin-left: 1.5%;
    }
}

.footer-wrapper {
    color: $grey-color;
    width: 400px;
    margin: auto;
    text-align: center;
}

footer {
    background-color: #f0f0f0;
}